<div class="row">
  <h4>REGISTRO DE LA GESTION DE LA INFORMACION DIARIA</h4>
</div>
<form  [formGroup]="formGroupFiltroCentro">
<div class="row p-4">
  <div class="col-2 p-field-radiobutton">CENTRO DE VACUNACION  <p-radioButton inputId="city1" (onClick)="selecciono_tipo_centro($event)" name="tipo_centro" value="CENTRO VACUNACION"  formControlName="tipo_centro"></p-radioButton></div>
  <div class="col-2 p-field-radiobutton">ESTABLECIMIENTO <p-radioButton inputId="city2" (onClick)="selecciono_tipo_centro($event)" name="tipo_centro" value="ESTABLECIMIENTO"  formControlName="tipo_centro"></p-radioButton></div>
  <div class="col-5">
    <p-dropdown
      [options]="centros"
      optionLabel="CENTRO_VACUNACION"
      [filter]="true"
      filterBy="CENTRO_VACUNACION"
      [showClear]="true"
      placeholder="Seleccione el centro de vacunacion"
      formControlName="centro"

      (onChange)="seleciono_centro($event)"
    >
      <ng-template let-country pTemplate="item">
        <div class="country-item">
          <div>{{ country.CENTRO_VACUNACION }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="col-2">
    <button pButton type="button" label="BUSCAR"  (click)="BUSCAR()"></button>
  </div>
</div>
</form>
<div class="row">
  <div class="col-6">DETALLE DE VACUNACION DIARIO</div>
</div>

<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="NUEVO" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
</p-toolbar>

<div class="row">
  <p-table [columns]="cols" [value]="registros_centro" [paginator]="true" [rows]="10" >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th >

        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
        
        
          {{ 
              
            car[col.field]}}
        </td>
        <td >
          <span class="p-buttonset">
            <button pButton pRipple label="Modificar" icon="pi pi-cog" (click)="modificar(car)"></button>
            <button pButton pRipple label="Eliminar" icon="pi pi-trash"  class="p-button-danger" (click)="eliminar(car.ID)"></button>
           
        </span>

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

 <app-registro-centro-vacunacion #dialog  (registro_data)="registro_data()"></app-registro-centro-vacunacion> 

 <app-modificar-registro-centro-vacunacion #modificar_dialog></app-modificar-registro-centro-vacunacion>


