

  <p-dialog
  header="NUEVA DISTRIBUCION A RED"
  [(visible)]="display"
  [style]="{ width: '50vw' }"
>
<form  [formGroup]="form">






<div class="row justify-content-center p-2 m-5">
    <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-md-6">
         
            <app-provincia-selector formControlName="PROVINCIA"></app-provincia-selector>
        </div>
        <div class="p-field p-col-12 p-md-6">
          
            <app-fabricante formControlName="FABRICANTE"></app-fabricante>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="firstname1" >FECHA </label>
            <p-calendar formControlName="FECHA"></p-calendar>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="lastname">CANTIDAD ENVIADA EN VIALES</label>
            <p-inputNumber formControlName='CANTIDAD_VIALES'></p-inputNumber>
        
        </div>
        <div class="p-field p-col-12">
            <label for="lastname">CANTIDAD ENVIADA EN DOSIS</label>
            <p-inputNumber formControlName='CANTIDAD_DOSIS'></p-inputNumber>
           
        </div>

        <div class="p-field p-col-12 p-md-6">
            <label for="lastname">TIPO DOCUMENTO</label>
            <p-dropdown [options]="TIPO_DOCUMENTOS" formControlName='TIPO_DOCUMENTO' optionLabel="name"></p-dropdown>
        
        </div>
        <div class="p-field p-col-12">
            <label for="lastname">NUMERO DOCUMENTO</label>
            <input type="text" pInputText formControlName='NUMERO_DOCUMENTO'/>           
           
        </div>


  


 
       

        <div class="p-field p-col-12 p-md-6">
            <div class="row botones m-4">
                <div class="col"> <button pButton type="button" label="ACEPTAR" (click)="guardar()"></button> </div>
                <div class="col"><button pButton type="button" label="CANCELAR" ></button>  </div> 
            </div>
     
        </div>
       
       
    </div>




</div>
</form>

</p-dialog>
