<div class="container">
  <h1>FORMULARIO REGISTRO DISPONIBILIDAD</h1>

  <div class="row">
    <div class="col-3">
      <app-provincia-selector
        (seleciono)="selecionoProvincia($event)"
      ></app-provincia-selector>
    </div>
    <div class="col-3">
      <app-distrito-selector
        [cod_provincia]="CODIGO_PROVINCIA"
        (selecciono_distrito)="selecionoDistrito($event)"
      ></app-distrito-selector>
    </div>
    <div class="col-3">
      <app-fabricante (selecciono)="selecionoFabricante($event)"></app-fabricante>
    </div>

    <div class="col-3">
      <app-establecimientos-selector [UBIGEO]="UBIGEO" (selecciono)="seleccionoIpress($event)"></app-establecimientos-selector>
    </div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4">
     
    </div>
  </div>

  <p-panel header="INGRESO DE DOSIS" [toggleable]="true">
    <ng-template pTemplate="icons">
      <button pButton class="p-panel-header-icon p-link">
        <span class="pi pi-cog"></span>
      </button>
    </ng-template>
    <form [formGroup]="formGroup">
      <div class="p-fluid">
        <div class="p-field">
          <label for="firstname1">FECHA</label>
          <p-calendar formControlName="FECHA" [locale]="es_ES"></p-calendar>
        </div>
        <div class="p-field">
          <label for="firstname1">STOCK ACTUAL</label>
          <p-inputNumber formControlName="STOCK_ACTUAL"></p-inputNumber>
        </div>

        <div class="p-field">
          <label for="firstname1">CANTIDAD DE VIALES RECIBIDAS</label>

          <p-inputNumber formControlName="NUM_VIALES_CANTIDAD"></p-inputNumber>
        </div>

        <div class="p-field">
          <label for="firstname1">FECHA DE VENCIMIENTO</label>

          <p-calendar formControlName="FECHA_VENCIMIENTO"></p-calendar>
        </div>

        <div class="p-field">
          <label for="firstname1">NUMERO DE LOTE</label>

          <input type="text" pInputText formControlName="NUM_LOTE"/>

        
        </div>

        <div class="p-field">
          <label for="firstname1">OBSERVACION</label>
          <textarea pInputTextarea formControlName="OBSERVACION"></textarea>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">  <button pButton pRipple type="button" label="AGREGAR" (click)="GUARGAR()"></button> </ng-template>
  </p-panel>



  <p-panel header="DETALLE DE DISTRIBUCION" [toggleable]="true">
    <ng-template pTemplate="icons">
      <button pButton class="p-panel-header-icon p-link">
        <span class="pi pi-cog"></span>
      </button>
    </ng-template>


    <p-table [value]="distribuciones">
      <ng-template pTemplate="header">
          <tr>
              <th>FECHA</th>
              <th>CANTIDAD VIALES</th>
              <th>OBSERVACION</th>
              <th>ACCCION</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
          <tr>
              <td>{{car.FECHA_ENTREGA|date: 'dd/MM/yyyy'}}</td>
              <td>{{car.CANTIDAD_RECIBIDA}}</td>
              <td>{{car.OBSERVACION}}</td>
              <td></td>
          </tr>
      </ng-template>
  </p-table>
  
  
   
  </p-panel>
</div>







<p-confirmDialog header="CONFIRMAR" acceptLabel="ACEPTAR" rejectLabel="CANCELAR" icon="pi pi-exclamation-triangle"></p-confirmDialog>