
.cobertura{
    margin-top: 25%;
}
.caja-p{
    height: 50vh;
}

tr {
    line-height: 10px;
    height: 9px;
}

td {
    line-height: 10px;
    height: 9px;
}

.nav-tabs > li
{
float: none;
 text-align: center;
}
.nav > li 
{
display: inline-block;
}
.logo{
    width: 100px;
}