

    
<div class="container">
    <h1 class="m-3">CONTEO RAPIDO IV SUPER VACUNATON CAJAMARQUINA</h1>
    <form [formGroup]="formGroup">
    <div class="row m-4">
      <div class="col-md-12 col-lg-4">
        <app-provincia-selector
          (selecciono)="selecionoProvincia($event)" formControlName="PROVINCIA"
        ></app-provincia-selector>
      </div>
      <div class="col-md-12 col-lg-4">
        <app-distrito-selector
          [cod_provincia]="CODIGO_PROVINCIA"
          (selecciono_distrito)="selecionoDistrito($event)" formControlName="DISTRITO"
        ></app-distrito-selector>
      </div>
      <div class="col-md-12 col-lg-4">
      
      </div>
  
      
    </div>
  
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4">
       
      </div>
    </div>
  
    <p-panel header="INGRESO DE CONTEOS" [toggleable]="true">
      <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link">
          <span class="pi pi-cog"></span>
        </button>
      </ng-template>

        <div class="p-fluid">
          <div class="p-field">
            <label for="firstname1">FECHA</label>
            <p-calendar formControlName="FECHA" [locale]="es_ES"></p-calendar>
          </div>
          <div class="p-field">
            <label for="firstname1">CANTIDAD</label>
            <p-inputNumber formControlName="CANTIDAD"></p-inputNumber>
          </div>
  
        </div>
  
  
      <ng-template pTemplate="footer">  <button pButton pRipple type="button" label="AGREGAR" (click)="GUARGAR()"></button> </ng-template>

    </p-panel>
  
  </form>
  
    <p-panel header="DETALLE " [toggleable]="true">
      <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link">
          <span class="pi pi-cog"></span>
        </button>
      </ng-template>
  
  
      <p-table [value]="conteos">
        <ng-template pTemplate="header">
            <tr>
                <th>FECHA</th>
           
                <th>CANTIDAD</th>
                <th>ACCCION</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>{{car.FECHA|date: 'dd/MM/yyyy'}}</td>          
                <td>{{car.CANTIDAD}}</td>
                <td><button pButton type="button" label="ELIMINAR"  (click)="ELIMINAR(car.ID)"></button></td>
            </tr>
        </ng-template>
    </p-table>
    
    
     
    </p-panel>
  </div>

  
<p-confirmDialog header="CONFIRMAR" acceptLabel="ACEPTAR" rejectLabel="CANCELAR" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  