<div class="content">
    <div class="container">
        <h1>ENVIO DE RED A IPRESS</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-0">
                      <h3 class="card-title">....</h3>
                      <div class="card-tools">
                        <a href="#" class="btn btn-tool btn-sm">
                          <i class="fas fa-download"></i>
                        </a>
                        <a href="#" class="btn btn-tool btn-sm">
                          <i class="fas fa-bars"></i>
                        </a>
                      </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                      <table class="table table-striped table-valign-middle">
                        <thead>
                        <tr>
                            <th>DESDE</th>
                          <th>RED</th>
                          <th>FABRICANTE</th>
                          <th>CANTIDAD DE DOSIS</th>
                          <th>CANTIDAD DE VIALES</th>
                          <th>FECHA DE ENVIO</th>
                          <th>FECHA MAXIMA DE USO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor='let distri of envios_ipress'>
    
                            <td>
                                {{distri.DESDE_ALMACEN}}
                             
                                   </td>
                          <td>
                       {{distri.NOMBRE}}
                    
                          </td>
                          <td> {{distri.FABRICANTE}}</td>
                          <td>
                            {{distri.CANTIDAD_RECIBIDA_DOSIS}}
                          </td>
                          <td>
                            {{distri.CANTIDAD_RECIBIDA_VIALES}}
                          </td>
    
                          <td>
                            {{distri.FECHA_ENVIO|date:'dd/MM/YYYY'}}
                          </td>
                          <td>
                            {{distri.FECHA_VENCIMIENTO|date:'dd/MM/YYYY'}}
                          </td>
    
                          
                        </tr>
                      
                        </tbody>
                      </table>
                    </div>
    
                    <app-distribucion-red-ipress #nuevo_dis></app-distribucion-red-ipress>
    
                    <div class="card-footer clearfix">
                        <button type="button" class="btn btn-info float-right"  ><i class="fas fa-plus"></i> AGREGAR ENVIO</button>
                      </div>
                  </div>
                
    
    
            </div>
    
        </div>
    
        
    
    </div>
    </div>
    
    <p-confirmDialog header="CONFIRMAR" acceptLabel="ACEPTAR" rejectLabel="CANCELAR" icon="pi pi-exclamation-triangle"></p-confirmDialog>






