:root{
    --primary:#111854;
    --ligth:white;


}
.bg-primary{
    background-color:#111854 !important;
    background-image: none;
}
.TIT1{
    color: white;
    padding: 0 0;
    margin-left:30px;
    font-size: 50px;
  
    
}
.principal{
    border-radius: 15px;
    align-items: center;
    width: auto;
}
.tit2{
    color:orangered;
    font-size: 50px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    border-radius: 30px;
    align-items: center;
}
.sub{
    align-items:center;
}
.menu{
    margin-top: 20px;
}
.container{
    width: 90%;
}



@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
 
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


#sidebar-container{
    min-height: 100vh;
    background-color: #111854 !important;
}
#sidebar-container .logo{
padding: 0.875rem 1.25rem;
   
}

#sidebar-container .menu{
width: 18rem;
    }

body{
    overflow: hidden;
    font-family:'Muli',sans-serif;
    font-weight: 300;
    color: var(--primary);
}
