.filtros {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 12rem;
  margin-left: 12rem;
}

.reporte {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 12rem;
    margin-left: 12rem;
  }
  
