<div class="row p-5">
  <div class="col-2"><h4>Por vacunar hoy</h4></div>
  <div class="col-2">
    <p-checkbox
      name="groupname"
      value="hoy"
      [(ngModel)]="opciones"
      (onChange)="selecciono_hoy($event); cambio_filtros_adic()"
    ></p-checkbox>
  </div>

  <div class="col-3" *ngIf="visualizar_alt">
    <h5>Incluir rezagados</h5>
    <p-selectButton
      [options]="stateOptions"
      [(ngModel)]="incluye_rezagados"
      optionLabel="name"
      optionValue="value"
      (onChange)="cambio_filtros_adic()"
    ></p-selectButton>
  </div>
  <div class="col-3" >
    <div class=" ">
      <h5>Buscar</h5>
      <span class="p-input-icon-left ml-rigth">
        <input
          pInputText
          type="text"
          placeholder="Ingrese texto a buscar"
          [(ngModel)]="texto_fil"
          (input)="filtra($any($event.target).value)"
        />
      </span>
    </div>
  </div>
</div>
